*   {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3, h4, p  {
    text-align: center;
    color: #660816;
}

h2  {
    text-decoration: underline;
}

p   {
    color:rgba(231, 214, 214, 0.849);
    font-size: 20px;
    text-decoration-thickness: 10px;
    background-color: rgba(82, 97, 28, 0.062);
    font-weight: bold;
}

img {
    text-align: center;
    display: flex;
    border-radius: 50%;
    margin: auto;
    border: rgba(48, 40, 40, 0.808);
    padding: 20px;
}

a {
    text-decoration: none;
    color:rgb(11, 17, 11);
    font-size: x-large;
    font-weight: bold;
    background-color: rgba(82, 97, 28, 0.2);
}

a:hover {
    /*color: #205f6d;*/
    color: #660816;
    transition: .5s ease;
    font-size: x-large;
    padding: 5px 0 5px 0;
    transition-timing-function: linear;
    border-radius: 30%;
}

body    {
    background-color: #205f6d;
}

.navbar     {   
    text-align: center;
}

footer  {
    text-align: center;
    margin: 10px;
    border-radius: 50px;
}

footer:hover    {
    color: #660816;
    transition-timing-function: linear;
    border-radius: 30%;
}

aside   {
    color: blue;
}

.footbar    {
    padding: 10px 0 10px 0;
    background-color: rgba(90, 99, 40, 0.123);
}

header  {
    background-color: rgba(90, 99, 40, 0.13);
    color: rgba(231, 214, 214, 0.849);
    text-decoration: wavy;
    text-align: center;
}

.icons:hover  {
    transition: .5s ease;
}